body {
    background: #ffffff;
    width: 100%;
}

h1 {
    text-align: center;
    padding: 40px 0px 32px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

.sections {
    width: 900px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    
}

section {
    padding: 27px 27px 26px 23px;
    border: 1px solid #b3e0ff;
    background: #fbfbfb;
    width: 250px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1;
    font-size: 14px;
    margin-bottom: 20px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 8px;
}
