body {
    width: 100%;
}

.block {
    width: 760px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin: 10px auto;
    padding: 25px 20px 15px 20px;
    margin-bottom: 20px;
    background: #f9f9f9;
   
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
}

 p{
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    padding-bottom: 15px;
}
.btn {
    text-align: right;
}

button {
    background: #557cbb;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 9px 15px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px; 
}

button:hover {
    background: #3f66a3;
}