body {
    box-sizing: border-box;
    background: #f5f5f5;
}

.dark {
    background: #333333;
    color: white;
    display: flex;
}

header h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
}